extends layout

block content
  h1= title
  h2= category.description
  a(href=category.url+'/item/create') Create new item in this category
  div
      div
        div
          block sidebar
            ul
              each item in items
                li
                  a(href=item.url)= item.name
  p                
    a(href=category.url+'/delete') Delete category
  p
    a(href=category.url+'/update') Update category
  hr
  a(href='/') Home