extends layout

block content
  h1 #{title}

  form(method='POST' action='' enctype="multipart/form-data")
    div
      label(for='name') Name:
      input(type='text', name='name' value=(undefined===item ? '' : item.name))
      label(for='description') Description:
      input(type='text', name='description' value=(undefined===item ? '' : item.description))
      label(for='category') Category:
      select(type='select', name='category' placeholder='Select category' value=(undefined===item ? '' : item.category))
        for category in categories
          if item
            option(value=category._id selected=(category._id.toString()===item.category._id.toString() ? 'selected' : false) ) #{category.name}
          else if current_category
            option(value=category._id selected=(category._id.toString()===current_category.toString() ? 'selected' : false) ) #{category.name}
          else
            option(value=category._id) #{category.name}
      label(for='price') price:
      input(type='number', name='price' value=(undefined===item ? '' : item.price))
      label(for='number_in_stock') Number in stock:
      input(type='number', name='number_in_stock' value=(undefined===item ? '' : item.number_in_stock))
      label(for='image') Number in stock:
      input(type="file"  name="image")
      if (item && item.imageUrl)
        img(src=item.imageUrl alt='item image')
    button(type='submit') Submit
  for category in categories 
    if (item.url.includes(category._id))
      a(href=category.url) Back to #{category.name} category
  if errors
   ul
    for error in errors
     li!= error.msg