extends layout

block content
  h1= item.category.name
  p Model: #{item.name}  
  p Main characteristics: #{item.description} 
  p Price: $#{item.price} 
  p Available(Qty: #{item.number_in_stock})
  if (item.imageUrl)
    img(src=item.imageUrl alt='item image')
  p
    a(href=item.url+'/delete') Delete item
  p
    a(href=item.url+'/update') Update item
  hr
  a(href=item.category.url) Back to #{item.category.name} category